attrs==22.1.0
click==7.1.2
docopt==0.6.2
lookatme==2.3.2
lookatme.contrib.image-ueberzug==1.1.0
lookatme.contrib.render==1.1.0
marshmallow==3.18.0
mistune==0.8.4
packaging==21.3
Pillow==9.2.0
Pygments==2.13.0
pyparsing==3.0.9
python-xlib==0.31
PyYAML==5.4.1
six==1.16.0
ueberzug==18.1.9
urwid==2.1.2
urwid-ueberzogen==0.0.4
